<div class="row">
  <div class="col-md-2 price">$<%= product.price %></div>
  <div class="col-md-7 name"><%= product.name %></div>
  <div class="col-md-1 quantity"><%= product.quantity %></div>
  <div class="col-md-2"><button>-</button> <span class="to-order">0</span> <button>+</button></div>
</div>
